.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}

.text-message {
    font-size: 22px;
    text-align: center;
    opacity: 1;
}
.ok-message {
    color: #5cb85c;
}
.info-message {
    color: #566787;
}
.error-message {
    color: #d9534f;
}

table{
    vertical-align: center!important;
    text-align: center!important;
}

body {
    background-image: url("../img/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 100%;
    font-family: 'Varela Round', sans-serif;

}
.jumbotron{
    background-color: rgba(255, 255, 255, 0.0);
    height: 100%;
}
footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
th{
    text-align: center;

}
.tariff_archive {
    color: red!important;
}
.user_tariff {
    color: red!important;
    font-size: 15px!important;

}
. error_class {
    text-align: center!important;
    color: red!important;
}

.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 20px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
    float: left;
}

.table-title .btn {
    float: right;
}

.table-title .btn {
    color: #fff;
    float: right;
    /*font-size: 13px;*/
    border: none;
    min-width: 45px;
    border-radius: 2px;
    border: none;
    margin-left: 10px;
}

.table-title .btn i {
    float: left;
}

.table-title .btn span {
    float: left;
}

table.table tr th:last-child {
    width: 100px;
}

table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}

table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}

table.table td a:hover {
    color: #2196F3;
}

table.table td i {
    font-size: 19px;
}

table.table {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a, .pagination li.active {
    background: #03A9F4;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.custom-checkbox {
    position: relative;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}

.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}

.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}

/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}

.modal .modal-content {
    border-radius: 3px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}

#error_message {
    background-color: #ff0000;
}



.modal-login {
    color: #636363;
    width: 350px;
}

.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.modal-login h4 {
    text-align: center;
    font-size: 26px;
}

.modal-login .form-group {
    position: relative;
}

.modal-login i {
    position: absolute;
    left: 13px;
    top: 11px;
    font-size: 18px;
}

.modal-login .form-control {
    padding-left: 40px;
}

.modal-login .form-control:focus {
    border-color: #12b5e5;
}

.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px;
    transition: all 0.5s;
}

.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-login input[type="checkbox"] {
    margin-top: 1px;
}

.modal-login .forgot-link {
    color: #12b5e5;
    float: right;
}

.modal-login .btn {
    background: #12b5e5;
    border: none;
    line-height: normal;
}

.modal-login .btn:hover, .modal-login .btn:focus {
    background: #10a3cd;
}

.modal-login .modal-footer {
    color: #999;
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    margin-top: -20px;
    justify-content: center;
}

.modal-login .modal-footer a {
    color: #12b5e5;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}


/*filter table */
.table-filter .filter-group {
    float: right;
    margin-left: 15px;
}
.table-filter input, .table-filter select {
    height: 34px;
    border-radius: 3px;
    border-color: #ddd;
    box-shadow: none;
}
.table-filter {
    padding: 5px 0 15px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 5px;
}
.table-filter .btn {
    height: 34px;
}
.table-filter label {
    font-weight: normal;
    margin-left: 5px;
}
.table-filter select, .table-filter input {
    display: inline-block;
    margin-left: 5px;
}
.table-filter input {
    width: 280px;
    display: inline-block;
}
.filter-group select.form-control {
    width: 80px;
}